<br/>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h3>Nuevo Elemento</h3>
        </div>
        <div class="col-md-3">
            <button class="btn btn-danger btn-block" routerLink="/elements">Regresar</button>
        </div>

    </div>
    <hr>

    <div class="col">
        <div class="row">
            <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event" [ngClass]="{ 'file-over': estaSobreElemento}" class="col-md-4 well drop-zone">
                <label>Suelta Archivo aquí</label>
                <br>
                <img src="assets/drop-images.png " alt=" ">
            </div>
            <div class="col-md-8 ">
                <button (click)="cargarImagenes() " [disabled]="archivos.length===0 " class="btn btn-success ">Cargar</button>

                <button (click)="borrarElementos()" class="btn btn-warning ">Limpiar</button>
                <table class="table ">
                    <thead class="thead-dark ">
                        <tr>
                            <th>Nombre</th>
                            <th>Duración</th>
                            <th>Tamaño</th>
                            <th>Progreso</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let archivo of archivos">
                            <td [ngClass]=" {'text-green': archivo.progreso >= 100}">{{ archivo.nombreArchivo }}</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-7"><input class="form-control" type="number" placeholder="Segundos" [(ngModel)]="archivo.duration" name="duration" #duration="ngModel" min="0" pattern="^\d+$" required></div>
                                    <div class="col-md-5"><a> seg.</a></div>
                                </div>
                            </td>
                            <td>{{ archivo.archivo.size / 1024 / 1024 | number: '.2-2' }} MB</td>

                            <td>
                                <div class="progress ">
                                    <div class="progress-bar " role="progressbar " [ngStyle]="{ 'width': archivo.progreso + '%' }"><small>{{ archivo.progreso| number : '.0-0'}}%</small></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>
        <!--form (ngSubmit)="guardar(f)" #f="ngForm">

            <div class="form-group ">
                <label>Firebase ID</label>
                <input type="text " class="form.control " placeholder="FirebaseID " [(ngModel)]="element.id " name="id " disabled="disabled "><small>Campo autogenerado</small>
            </div>
            <div class="form-group ">
                <label>Nombre</label>
                <input type="text " class="form-control " placeholder="Nombre del elemento " [(ngModel)]="element.name " name="nombre " required>

            </div>
            <div class="form-group ">
                <label>Descripción</label>
                <input type="text " class="form-control " placeholder="Breve descripción del elemento " [(ngModel)]="element.description " name="description " required>

            </div>
            <div class="form-group ">
                <label>Duración</label>
                <input type="number " class="form-control " placeholder="En segundos " [(ngModel)]="element.duration " name="duration " required>

            </div>
            <div class="form-group ">
                <button type="submit " class="btn btn-primary ">Guardar</button>

            </div>


        </form-->
    </div>
</div>