a {
    color: white;
}

button {
    color: white;
}

.navbar {
    background-color: rgb(35, 35, 75);
}

.visible {
    display: block;
    visibility: visible;
}

.invisible {
    display: none;
    visibility: hidden;
}