<nav *ngIf="nav.visible" class="navbar navbar-expand-lg navbar-inverse">
    <a class="navbar-brand" href="#">PubliCasTV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a [ngClass]="{disabled:!logged}" class="nav-link" tabindex="-1" aria-disabled="logged" routerLink="/mytv">MyTv<span class="sr-only">(current)</span></a>
            </li>

            <li *ngIf="isLogged()" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item drop" routerLink="/elements">Elements</a>
                    <a class="dropdown-item" routerLink="/lists">Lists</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/tvs">TVs</a>
                </div>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <!--input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"-->
            <button [ngClass]="{'visible':logged, invisible:!logged}" (click)="logOut()" class="btn btn-outline-success my-2 my-sm-0" type="button">Logout</button>
            <button [ngClass]="{'invisible':logged, visible: !logged}" class="btn btn-outline-success my-2 my-sm-0" routerLink="/login" type="button">Login</button>
        </form>
    </div>
</nav>