<button class="btn btn-lg btn-success" [routerLink]="['/lists']">PlayLists</button>
<div class="card-columns">
    <div class="card" *ngFor="let item of elementosNew">



        <!-- Card content -->
        <div class="card-body">
            <h4 class="card-title">Id: <a>{{item.id}}</a></h4>
            <!-- Title -->
            <h4 class="card-title">Nombre: <a>{{item.title}}</a></h4>
            <!-- Text -->
            <h5 class="card-title">Duration:<a>{{item.duration}}</a></h5>
            <h6 class="card-title">Type:<a>{{item.type}}</a></h6>
            <!-- Button -->
            <div class="row">
                <button class="btn col-md-6 btn-block btn-success">Editar</button>
                <button class="btn col-md-6 btn-block btn-primary">Asignar</button>
            </div>
        </div>

    </div>

</div>