<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>
<!--div class="row">
    <div class="col col-md-3">
    <h1>*ngIf</h1>
    <hr>
    <div *ngIf = "mostrar" class = "card text-white bg-primary">
        <div class="card-body">
             <h5 class="card-title"> {{ frase.autor }} </h5>
             <p class="card-text"> {{ frase.mensaje }} </p>
        </div>
    </div>
    <button (click) = " mostrar = !mostrar " class="btn btn-warning btn-block">
        Mostrar/Ocultar
    </button>
</div>
</div-->
<router-outlet class="bottomM"></router-outlet>
<app-footer></app-footer>