<div class="container animated fadeIn slow">


    <div class="jumbotron card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">

        <div class="imagen img-fluid">
            <img class="img-fluid img-thumbnail" src="assets/itnovacast.png">
        </div>
        <div class="">
            <p class="">Si deseas acceder a funcionalidad avanzada inicia sesión o bien: </p>
            <a class="btn btn-primary btn-sm right" routerLink="/register">Registrate</a>
        </div>
    </div>




</div>