/* You can add global styles to this file, and also import other style files */
footer{
color: wheat;
position: fixed;
bottom: 0px;
background-color: rgba(0, 0, 0, 0.383);
width: 100%;
}
a{
    color: white;
}